<%=render 'shared/header' %>

<ul class='grid_6 center users'>
<%= 'Users in Your Area' %>
  <% @users.each do |user| %>
    <li><%= user.first + ' ' + user.last + ' at ' + user.address  %></li>
  <% end %>
</ul>
