<%=render 'shared/header' %>

<ul class='grid_6 text-center users'>
<h1><%= 'Users in Your Area' %></h1>
  <% @users.each do |user| %>
    <li><%= user.full_name + ' at ' + user.address  %></li>
    <li></li>
  <% end %>
</ul>
