<h1>About MarkdUp</h1>
<p>MarkdUp is a geo-social network that allows people to voice concerns and/or praise for matters in their immediate local area. Always wanted to bolster support for a new bus-stop, park renovation, cafe, or well-known governmental issue in your neighborhood? Maybe you simply lost a personal item, or want to report on super-local news. Whatever your concern is, MarkdUp gives you the power to draw attention to your event or issue, and change your community for the better, in seconds.</p>
