<%= render 'shared/header' %>

<div class='headline row'>
  <h1 class='large-4'>MarkedUp</h1>
  <p class= 'small-3'>[geo-social]</p>
</div>

<div id='map' class='grid 12'>
</div>

<iframe id='listview' src='/posts'>
</iframe>

<div id='mapform'>
  <%= render 'shared/mapform' %>
</div>

<% content_for 'extra_footer' do %>
<script>
  initializeMap();
</script>
<% end %>
