<%= render 'shared/header' %>

<div class='headline grid_3'>
  <h1>MarkedUp</h1>
  <p>[geo-social]</p>
</div>

<div id='map' class='grid 12'>
</div>

<iframe id='listview'>
</iframe>



<% content_for 'extra_footer' do %>
<script>
  initializeMap();
</script>
<% end %>
