<%= render 'shared/header' %>

<div class='row'>
  <div class="medium-12 small-centered columns text-center">
    <h1>MarkedUp</h1>
    <p>[geo-social]</p>
  </div>
</div>

<div class='row'>
  <div class="medium-12 small-centered columns text-center">
   <div id='map'>
   </div>
    <button id='toggle_post_list_view'>Posts View</button>
  </div>
</div>


<div>
  <iframe id='listview' src='/posts'>
  </iframe>
</div>

<div id='mapform'>
  <%= render 'shared/mapform' %>
</div>

<% content_for 'extra_footer' do %>
  <script>
    initializeMap();
  </script>
<% end %>
