.nav {
  float:right;
  margin-bottom: 10px;
}

.nav li {
  list-style: none;
  margin: 10px;
  float: left;
}

.post_user {
  margin-bottom: 5px;
  color: blue;
}

.post_category {
  margin-bottom: .15em;
  color: green;
}

.post_body {
  margin-bottom: .15em;
}

.post_address {
  margin-bottom: 5px;
}

.headline {
  align-text: center;
  margin: auto;
}

.commenttoggle {
  display: none;
}

.center {
  margin: auto;
  align-text: center;
}

#map {
  height: 430px;
  width: 100%;
  margin: auto;
  align: center;
}

.postlist {
  margin-bottom: 0.5em;
}

#mapform {
  display: none;
}

#toggle_post_list_view {
  margin-top: 10px;
  align: center;
}

#listview {
  position: absolute;
  border-style: hidden;
  float: right;
  margin: auto;
  display: none;
}
