.nav {
  float:right;
  margin-bottom: 10px;
}

.nav li {
  list-style: none;
  margin: 10px;
  float: left;
}

.post_user {
  margin-bottom: .75em;
  color: blue;
}

.post_votes {
  color: red;
  align-text: right;
}

.post_votes_count {
  margin-bottom: .75em;
  color: red;
}

.users {
  list-style: none;
  li {
    margin-bottom: 5px;
  }
}

.splash {
  list-style: none;
}

.prompt {
  margin-top: 8em;
}

.post_category {
  margin-bottom: .75em;
  color: green;
}

.post_body {
  margin-bottom: .75em;
}

.post_address {
  margin-bottom: .75em;
}

.headline {
  align-text: center;
  margin: auto;
}

.commenttoggle {
  display: none;
}

.center {
  margin: auto;
  align-text: center;
}

#map {
  height: 430px;
  width: 100%;
  margin: auto;
  align: center;
}

.postlist {
  margin-bottom: 0.5em;
  text-align: center;
  float: left;
}

#mapform {
  display: none;
}

#toggle_post_list_view {
  margin-top: 10px;
  align: center;
}

#listview {
  position: absolute;
  border-style: hidden;
  float: right;
  margin: auto;
  display: none;
}
